Repository yejin0718/everyhanghae, pull requests merged in 2022-12, with the labels that each got.

#7 📝 Doc: feature Issue 템플릿 추가
  .github/ISSUE_TEMPLATE/issue--✔feature-.md
Labels: documentation

#11 docs: 리팩터링 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/issue--💎refactor.md
Labels: documentation

#13 feat: 엔티티 생성 및 연관관계 작업
  Spring/everyhanghae-backend/gradlew
  Spring/everyhanghae-backend/gradlew.bat
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/entity/BoardLike.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/entity/Comment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/Timestamped.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/UserRole.java
Labels: feature, spring

#15 📝 Doc: feature Issue 템플릿 수정
  .github/ISSUE_TEMPLATE/issue---✔-feature-md.md
Labels: documentation

#17 docs: PR 템플릿 작성
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#24 doc: gitignore 파일 작성
  .DS_Store
  .gitignore
Labels: documentation

#26 style : 로그인 페이지 레이아웃 구현
  React/src/components/login/SignIn.jsx
  React/src/components/login/SignIn.module.css
  React/src/components/login/SignUp.jsx
  React/src/components/login/SingUp.jsx
  React/src/index.js
  React/src/pages/Login.jsx
  React/src/pages/SingUp.jsx
  React/src/shared/Router.js
Labels: react, style

#33 feat : 중첩 라우터 제거
  React/src/components/login/SignIn.jsx
  React/src/pages/Register.jsx
  React/src/shared/Router.js
  React/src/shared/layout/Layout.jsx
  React/yarn.lock
Labels: feature, react

#35 feat : 모듈, 스토어 연결
  React/package.json
  React/src/index.js
  React/src/redux/config/configStore.js
  React/src/redux/modules/boardReducer.js
  React/src/redux/modules/commentReducer.js
Labels: feature, react

#37 🐛 Fix : Security 의존성 주석처리
  .DS_Store
  .github/ISSUE_TEMPLATE/issue---✔-feature-md.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  Spring/everyhanghae-backend/build.gradle
Labels: bug, spring

#38 feat : 회원가입 페이지 레이아웃 구현
  React/src/components/login/SignIn.jsx
  React/src/components/login/SignUp.jsx
  React/src/components/login/SignUp.module.css
  React/src/shared/layout/Header.jsx
Labels: feature, react, style

#41 ✨ Feat : 댓글 작성 기능 추가
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/EveryhanghaeBackendApplication.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/repository/BoardRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/dto/CommentRequestDto.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/dto/CommentResponseDto.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/entity/Comment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/repository/CommentRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/DataResponse.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/Response.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#45 ✨ Feat : 게시글 좋아요 등록 API
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Repository/BoardLikeRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Service/BoardLikeService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/entity/BoardLike.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#52 ✨ Feat: CORS 허용 로직 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/WebConfig.java
Labels: feature, spring, hotfix

#47 🐛 Fix : User 엔티티 내 userRole 타입 변경
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/User.java
Labels: bug, spring

#53 ✨ Feat: H2 DB 설정
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: spring, envirionment

#56 ✨ Feat: .gitigore 파일에 gradlew, gradlew.bat 추가
  Spring/everyhanghae-backend/.gitignore
  Spring/everyhanghae-backend/gradlew
  Spring/everyhanghae-backend/gradlew.bat
Labels: spring, envirionment

#57 ♻️ Refactor: 댓글 작성 API 리팩토링
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/dto/CommentResponseDto.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
Labels: spring, refactor

#60 feat : 댓글 수정 API 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/entity/Comment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
Labels: feature, spring

#62 refactor: comment dto 이름 변경
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/dto/RequestComment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/dto/ResponseComment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
Labels: spring, refactor

#64 feat : 게시글 작성 API
  React/.gitignore
  React/package.json
  React/src/components/write/AddWrite.jsx
  React/src/hooks/useData.js
  React/src/redux/config/configStore.js
  React/src/redux/modules/addWriteSlice.js
  React/yarn.lock
Labels: feature, react

#69 feat : 게시글 작성 폴더 구조 변경, 백 서버 API통신
  .DS_Store
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/login/SignIn.module.css
  React/src/components/login/register/SignUp.jsx
  React/src/components/login/register/SignUp.module.css
  React/src/components/write/AddContents.jsx
  React/src/components/write/AddContents.module.css
  React/src/pages/Login.jsx
  React/src/pages/Register.jsx
  React/src/pages/Write.jsx
  React/src/redux/config/configStore.js
  React/src/redux/modules/addContentsSlice.js
  React/src/redux/modules/instance/instance.js
Labels: feature, react

#72 feat : 게시글 작성 페이지 빈값 예외처리
  React/src/components/login/login/SignIn.jsx
  React/src/components/write/AddContents.jsx
  React/src/components/write/AddContents.module.css
Labels: feature, react, style

#73 ✨ Feat : 회원가입 API 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestCreateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/jwt/JwtUtil.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/repository/UserRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: feature, spring

#75 feat : 메인페이지 수정
  React/package.json
  React/src/components/main/MainPage.jsx
  React/src/components/main/MainPage.module.css
  React/src/pages/Main.jsx
Labels: feature, react

#76 ✨ Feat : validation 의존성, JWT dependency 추가
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: feature, spring, envirionment

#77 feat : 회원가입 빈 값인 경우 예외처리
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/login/SignIn.module.css
  React/src/components/login/register/SignUp.jsx
  React/src/components/login/register/SignUp.module.css
  React/src/components/write/AddContents.module.css
  React/src/redux/modules/instance/instance.js
Labels: feature, react

#80 feat : 헤더수정
  React/src/shared/Router.js
  React/src/shared/layout/Header.jsx
  React/src/shared/layout/Header.module.css
Labels: feature, react

#83 feat : 회원가입 API 연결 로직 구현
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/register/SignUp.jsx
  React/src/redux/config/configStore.js
  React/src/redux/modules/addContentsSlice.js
  React/src/redux/modules/loginSlice.js
Labels: feature, react

#89 feat : 로그인 API 연결 로직 구현
  React/src/components/login/login/SignIn.jsx
  React/src/components/write/AddContents.jsx
  React/src/redux/modules/loginSlice.js
Labels: feature, react

#87 ✨ Feat : 로그인 API
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestLoginUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: feature, spring

#67 ✨ Feat: 게시글 등록 API
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/RequestCreateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/ResponseBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/BoardCategory.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/mapper/BoardMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/service/BoardService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#94 ✨ Feat : 댓글 삭제 API 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
Labels: feature, spring

#68 ✨ Feat: 게시글 생성 API 예외 처리 로직 추가
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/RequestCreateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/exception/BoardExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/mapper/BoardMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessageConstant.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionResponse.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#86 ✨ Feat: 전체 게시글 조회 API
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/RequestCreateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/ResponseBoardListItem.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/mapper/BoardMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/service/BoardService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#101 🐛 Fix: ResponseComment 적용이 안되있는 오류 해결
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/ResponseBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/mapper/BoardMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: spring, hotfix

#96 ♻️ Refactor : Comment Controller api 경로 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/DataResponse.java
Labels: spring, refactor

#81 ✨ Feat : 좋아요 등록/취소 분기 로직 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Repository/BoardLikeRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Service/BoardLikeService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#92 ♻️ Refactor : properties 파일 분리
  Spring/everyhanghae-backend/.gitignore
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: spring, envirionment, refactor

#105 bug : 회원가입 View 반환 test
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
Labels: bug, spring

#106 ✨ Feat : 게시글 좋아요 Scheduler 기능 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/EveryhanghaeBackendApplication.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Repository/BoardLikeRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Scheduled/LikeScheduled.java
Labels: feature, spring

#107 ✨ Feat : 스웨거를 사용하기 위한 환경설정
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/SwaggerConfig.java
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: feature, spring

#103 fix : Comment 삭제 Api 버그 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
Labels: bug, spring

#109 ✨ Feat: RDS Mysql DB 연결 설정
  Spring/everyhanghae-backend/.gitignore
  Spring/everyhanghae-backend/gradlew
  Spring/everyhanghae-backend/gradlew.bat
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/entity/Comment.java
  Spring/everyhanghae-backend/src/main/resources/application.properties
  Spring/everyhanghae-backend/src/sql/ddl.sql
Labels: spring, envirionment

#112 메인페이지 수정
  React/src/components/main/MainPage.jsx
  React/src/components/main/MainPage.module.css
  React/src/redux/modules/boardReducer.js
Labels: feature, react

#114 상세페이지
  React/src/components/detail/Detail.module.css
  React/src/components/detail/DetailBoard.jsx
  React/src/components/detail/DetailComment.jsx
  React/src/components/detail/DetailUpdate.jsx
  React/src/pages/Detail.jsx
  React/src/pages/Main.module.css
  React/src/pages/Update.jsx
  React/src/redux/modules/commentReducer.js
  React/src/shared/Router.js
Labels: feature, react

#116 ♻️ Refactor : CORS 허용 헤더접근 로직 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/WebConfig.java
Labels: bug, spring, envirionment

#123 로그인 / 회원가입 리덕스 없이 사용하기
  React/src/components/elements/alertModal.js
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/register/SignUp.jsx
  React/src/components/write/AddContents.jsx
  React/src/core/api/LoginAPI.js
  React/src/core/api/instance.js
  React/src/redux/config/configStore.js
  React/src/redux/modules/addContentsSlice.js
  React/src/redux/modules/loginSlice.js
Labels: feature, react

#121 ♻️ Refactor : 코드 정리
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
Labels: spring, refactor

#135 feat : 게시글 좋아요 API 회원 검증 로직 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Service/BoardLikeService.java
Labels: feature, spring

#134 ♻️ Refactor : 댓글 작성 api 로그인 유지기능 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: spring, refactor

#137 feat : 로그인 / 로그아웃 버튼 변경 구현중
  React/src/components/login/login/SignIn.jsx
  React/src/redux/modules/loginSlice.js
  React/src/shared/layout/Header.jsx
Labels: feature, react

#142 ♻️ Refactor : 게시글 좋아요 예외처리 오타 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board_like/Service/BoardLikeService.java
Labels: spring, refactor

#141 ♻️ Refactor : 댓글 수정 api 로그인 확인 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
Labels: spring, refactor

#136 ✨ Feat: 특정 게시글 조회 API
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/service/BoardService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
Labels: feature, spring

#145 ♻️ Refactor : userRole 삭제 및 코드 정리
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestCreateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestLoginUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/UserRole.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/jwt/JwtUtil.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: spring, refactor

#148 feat : 로그인 / 로그아웃 버튼 변경
  React/src/components/write/AddContents.jsx
  React/src/shared/layout/Header.jsx
Labels: feature, react

#151 ♻️ Refactor : createToken 코드 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/jwt/JwtUtil.java
Labels: bug, spring, refactor

#153 ♻️ Refactor : JwtPayLoad 코드 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/jwt/JwtPayload.java
Labels: spring, refactor

#154 ♻️ Refactor: 예외 처리 핸들러 재구조화
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/exception/BoardExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/CommonExceptionHandler.java
Labels: spring, refactor

#155 feat : 회원가입 이메일 중복 확인 로직
  React/src/components/login/register/SignUp.jsx
  React/src/components/login/register/SignUp.module.css
  React/src/core/api/LoginAPI.js
Labels: feature, react

#158 ♻️ Refactor : 회원가입, 로그인 예외처리 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestCreateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestLoginUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/exception/UserExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: feature, spring, refactor

#161 ♻️ Refactor댓글 생성 api user_id 저장 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/sql/ddl.sql
Labels: spring, refactor

#162 ♻️ Refactor : 로그인 response 값 내 데이터 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/ResponseInfoUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: spring, refactor

#165 feat : 로그인 에러 메세지 띄우기
  React/src/components/login/alert/LoginAlert.jsx
  React/src/components/login/alert/LoginAlert.module.css
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/register/SignUp.jsx
  React/src/components/write/AddContents.jsx
  React/src/core/api/LoginAPI.js
  React/src/redux/config/configStore.js
  React/src/redux/modules/addContentsSlice.js
  React/src/redux/modules/loginSlice.js
Labels: feature, react

#169 ✨ Feat : 회원가입 이메일 중복체크
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/response/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestDuplicateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/service/UserService.java
Labels: feature, spring

#172 ♻️ Refactor: Board 도메인 익셉션 리팩터링
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/RequestCreateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/dto/RequestUpdateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/exception/BoardExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/board/service/BoardService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/CommonExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/common/exception/ExceptionMessageConstant.java
Labels: spring, refactor

#177 ♻️ Refactor : 회원가입 이메일 중복체크 exception 로직 수정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestCreateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestDuplicateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestLoginUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestDuplicateUser.java
Labels: spring, refactor

#179 feat : 회원가입 중복처리 , 에러 메세지 띄우기
  .vscode/launch.json
  React/.vscode/launch.json
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/login/SignIn.module.css
  React/src/components/login/register/SignUp.jsx
  React/src/components/login/register/SignUp.module.css
  React/src/components/write/AddContents.jsx
  React/src/core/api/LoginAPI.js
  React/src/img/icon_google.png
  React/src/shared/alert/LoginAlert.jsx
  React/src/shared/alert/LoginAlert.module.css
  React/src/shared/layout/Header.jsx
Labels: feature, react

#178 ✨ Feat: 스프링 시큐리티 의존성 추가
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/SecurityConfig.java
Labels: feature, spring

#187 feat : 로그인 / 회원가입 빈값 예외처리
  .vscode/launch.json
  React/src/App.css
  React/src/components/elements/elements.module.css
  React/src/components/login/login/SignIn.jsx
  React/src/components/login/register/SignUp.jsx
  React/src/core/api/LoginAPI.js
  React/src/core/api/instance.js
  React/src/hooks/useData.js
  React/src/setupTests.js
  React/src/shared/layout/Footer.jsx
  React/src/shared/layout/Footer.module.css
  React/src/shared/layout/Header.jsx
  React/src/shared/layout/Header.module.css
  React/src/shared/layout/Layout.module.css
Labels: feature, react

#190 feat: 댓글 수정 기능, 좋아요 제외 가능
  React/src/components/detail/Detail.module.css
  React/src/components/detail/DetailBoard.jsx
  React/src/components/detail/DetailComment.jsx
  React/src/components/detail/DetailUpdate.jsx
  React/src/components/detail/DetailUpdateModal.jsx
  React/src/redux/modules/boardReducer.js
  React/src/redux/modules/commentReducer.js
Labels: feature, react

#191 feat : 게시글 작성 예외처리 체크 및 리팩토링
  React/public/favicon.ico
  React/public/index.html
  React/src/components/login/register/SignUp.jsx
  React/src/components/write/AddContents.jsx
  React/src/components/write/AddContents.module.css
  React/src/index.css
Labels: feature, react

#192 ✨ Feat: 시큐리티 필터 추가
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/service/UserService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/SecurityConfig.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/UserDetailsImpl.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/config/SecurityConfig.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/exception/CustomAuthenticationEntryPoint.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/JwtService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/exception/custom/NotValidJwtException.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/filter/JwtAuthFilter.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/service/JwtService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/util/JwtUtil.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/service/UserDetailsServiceImpl.java
  Spring/everyhanghae-backend/src/main/resources/application.properties
Labels: feature, spring

#201 refector : 게시글 작성 예외처리 체크
  React/src/components/write/AddContents.jsx
  React/src/components/write/AlertModal.jsx
  React/src/redux/modules/addContentsSlice.js
Labels: feature, react, refactor

#197 🚀 Release: React 배포 앱 cors 설정
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/WebConfig.java
Labels: feature, spring

#199 ♻️ Refactor: 컨트롤러의 유저 인증 로직 ServletRequest -> 시큐리티로 변경
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/exception/ExceptionMessage.java
Labels: spring, refactor

#206 ✨ Feat : 카카오 소셜 로그인
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/KakaoUserInfoDto.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/repository/UserRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/service/KakaoService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/config/SecurityConfig.java
Labels: feature, spring

#208 🐛 Fix : 카카오 로그인 redirect_uri 주소 변경
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/service/KakaoService.java
Labels: bug, spring

#212 feat:메인 페이지 최종본
  React/src/components/main/MainPage.jsx
  React/src/components/main/MainPage.module.css
  React/src/components/write/AlertModal.jsx
  React/src/redux/modules/boardReducer.js
Labels: feature, react

#214 feat: 최종본
  React/src/components/detail/Detail.module.css
  React/src/components/detail/DetailBoard.jsx
  React/src/components/detail/DetailComment.jsx
  React/src/components/detail/DetailUpdate.jsx
  React/src/redux/modules/commentReducer.js
Labels: feature, react

#215 feat: 상세페이지 css 수정
  React/package.json
  React/src/components/detail/Detail.module.css
Labels: feature, react

#218 🚀 Release: Develop 브랜치로 머지
  Spring/everyhanghae-backend/.gitignore
  Spring/everyhanghae-backend/build.gradle
  Spring/everyhanghae-backend/gradlew
  Spring/everyhanghae-backend/gradlew.bat
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/EveryhanghaeBackendApplication.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/SwaggerConfig.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/config/WebConfig.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/controller/BoardController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/dto/RequestCreateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/dto/RequestUpdateBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/dto/ResponseBoard.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/dto/ResponseBoardListItem.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/entity/Board.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/entity/BoardCategory.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/exception/BoardExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/mapper/BoardMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/repository/BoardRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board/service/BoardService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Controller/BoardLikeController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Repository/BoardLikeRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Scheduled/LikeScheduled.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/Service/BoardLikeService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/board_like/entity/BoardLike.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/controller/CommentController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/dto/RequestComment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/dto/ResponseComment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/entity/Comment.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/mapper/CommentMapper.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/repository/CommentRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/comment/service/CommentService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/controller/UserController.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/KakaoUserInfoDto.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestCreateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestDuplicateUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/RequestLoginUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/dto/ResponseInfoUser.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/entity/User.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/exception/UserExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/repository/UserRepository.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/service/KakaoService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/domain/user/service/UserService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/UserDetailsImpl.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/config/SecurityConfig.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/exception/CustomAuthenticationEntryPoint.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/JwtPayload.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/exception/custom/NotValidJwtException.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/filter/JwtAuthFilter.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/service/JwtService.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/jwt/util/JwtUtil.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/security/service/UserDetailsServiceImpl.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/Timestamped.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/exception/CommonExceptionHandler.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/exception/ExceptionMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/exception/ExceptionResponse.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/response/DataResponse.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/response/Response.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/shared/response/ResponseMessage.java
  Spring/everyhanghae-backend/src/main/java/com/everyhanghae/user/dto/RequestDuplicateUser.java
  Spring/everyhanghae-backend/src/main/resources/application.properties
  Spring/everyhanghae-backend/src/sql/ddl.sql
Labels: spring
